@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Roboto+Mono&display=swap');

* {
    font-family: 'Geologica', sans-serif !important;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navItemContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navItemContainer > * {
    flex: 1;
    text-align: center;
}

.height {
    height: 100px;
}