.nav-link {
    color: white !important;
    text-decoration: none !important;
    font-size: 1.5rem !important;
}

.navItemContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navItemContainer > * {
    flex: 1;
    text-align: center;
}

.height {
    height: 100px;
}