.Navdiv a.active {
    background-color: #2196F3;
    color: rgb(57, 29, 158);
  }

  .sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 10px;
  }

  li{
    list-style: none; display: inline-block; padding-top: 50px;
}
li h2{
      color: white; font-size: 25px; font-weight: bold; margin-right: 30px;
}

.tab {
    overflow: hidden;
    border: 5px solid #f1eeee;
    background-color: #0a0a0a;
    position: relative;
    right: -35px;
    
    
    /* how to move it up*/
  }

h1{
    color:red;
}

button{
    position: relative;
    color: black;
    background-color: white;
    width: 120px;
    height: 100px;
    left: 500px;
    margin: 50px;
}